In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from datetime import datetime as dt
import itertools


from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm


from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

from keras.utils import np_utils

%matplotlib inline

Using TensorFlow backend.

# Load the Dataset

In [2]:
df = pd.read_csv("../datasets/FIFA 1990-2018 - Cleaned.csv")
squads = pd.read_csv("../datasets/New_data/2018 FIFA World Cup Squads.csv")
fifa18 = pd.read_csv("../datasets/New_data/complete.csv")
distance = pd.read_csv("../datasets/New_data/distance.csv", error_bad_lines=False)
fifa_ranking = pd.read_csv("../datasets/New_data/fifa_ranking.csv")

b'Skipping line 31: expected 4 fields, saw 5\nSkipping line 63: expected 4 fields, saw 5\nSkipping line 85: expected 4 fields, saw 5\nSkipping line 102: expected 4 fields, saw 5\nSkipping line 173: expected 4 fields, saw 5\nSkipping line 174: expected 4 fields, saw 5\nSkipping line 196: expected 4 fields, saw 5\nSkipping line 203: expected 4 fields, saw 5\nSkipping line 204: expected 4 fields, saw 5\nSkipping line 207: expected 4 fields, saw 5\nSkipping line 211: expected 4 fields, saw 5\nSkipping line 213: expected 4 fields, saw 5\n'

# Add Ranking for 2018

In [3]:
ranking_2018 = fifa_ranking[(fifa_ranking['rank_date']>"2018-04-01") & (fifa_ranking['rank_date']<"2018-05-01")]
ranking_2018.shape

(211, 17)

In [4]:
ranking_2018

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,Unnamed: 16
57160,1,Germany,GER,1532.68,1609.0,0,784.89,784.89,804.19,402.09,463.51,139.05,1033.19,206.64,UEFA,2018-04-12,NaN
57161,2,Brazil,BRA,1384.24,1489.0,0,560.52,560.52,990.59,495.29,565.90,169.77,793.26,158.65,CONMEBOL,2018-04-12,NaN
57162,3,Belgium,BEL,1345.65,1337.0,2,684.48,684.48,594.99,297.50,592.33,177.70,929.90,185.98,UEFA,2018-04-12,NaN
57163,4,Portugal,POR,1306.35,1360.0,-1,687.22,687.22,658.47,329.23,576.48,172.94,584.73,116.95,UEFA,2018-04-12,NaN
57164,5,Argentina,ARG,1253.61,1359.0,-1,418.94,418.94,839.74,419.87,769.42,230.83,919.87,183.97,CONMEBOL,2018-04-12,NaN
57165,6,Switzerland,SUI,1179.21,1197.0,2,594.33,594.33,716.99,358.49,390.85,117.26,545.66,109.13,UEFA,2018-04-12,NaN
57166,7,France,FRA,1166.42,1185.0,2,517.68,517.68,828.04,414.02,347.19,104.16,652.83,130.57,UEFA,2018-04-12,NaN
57167,8,Spain,ESP,1161.59,1228.0,-2,571.55,571.55,593.19,296.59,684.65,205.39,440.29,88.06,UEFA,2018-04-12,NaN
57168,9,Chile,CHI,1145.74,1161.0,1,435.51,435.51,714.45,357.22,850.55,255.17,489.25,97.85,CONMEBOL,2018-04-12,NaN
57169,10,Poland,POL,1117.94,1228.0,-4,499.90,499.90,764.51,382.25,450.51,135.15,503.18,100.64,UEFA,2018-04-12,NaN
57170,11,Peru,PER,1106.39,1128.0,0,585.98,585.98,743.69,371.85,372.92,111.87,183.44,36.69,CONMEBOL,2018-04-12,NaN
57171,12,Denmark,DEN,1053.7,1108.0,0,725.70,725.70,313.01,156.50,312.44,93.73,388.85,77.77,UEFA,2018-04-12,NaN
57172,13,England,ENG,1040.33,1047.0,3,481.83,481.83,576.30,288.15,556.48,166.94,517.02,103.40,UEFA,2018-04-12,NaN
57173,14,Tunisia,TUN,1012.15,920.0,9,654.26,654.26,388.94,194.47,221.51,66.45,484.87,96.97,CAF,2018-04-12,NaN
57174,15,Mexico,MEX,1007.66,1038.0,2,464.84,464.84,612.85,306.42,465.44,139.63,483.79,96.76,CONCACAF,2018-04-12,NaN
57175,16,Colombia,COL,988.57,1106.0,-3,307.05,307.05,683.93,341.96,617.18,185.15,772.00,154.40,CONMEBOL,2018-04-12,NaN
57176,17,Uruguay,URU,976.5,931.0,5,437.65,437.65,481.04,240.52,596.12,178.84,597.48,119.50,CONMEBOL,2018-04-12,NaN
57177,18,Croatia,CRO,975.17,1053.0,-3,448.53,448.53,613.87,306.94,382.82,114.85,524.25,104.85,UEFA,2018-04-12,NaN
57178,19,Netherlands,NED,968.59,964.0,2,555.26,555.26,310.64,155.32,269.28,80.78,886.14,177.23,UEFA,2018-04-12,NaN
57179,20,Italy,ITA,947.03,1062.0,-6,373.61,373.61,692.51,346.25,411.89,123.57,518.05,103.61,UEFA,2018-04-12,NaN
57180,21,Wales,WAL,931.37,984.0,-1,353.84,353.84,683.10,341.55,404.91,121.47,572.55,114.51,UEFA,2018-04-12,NaN
57181,22,Iceland,ISL,930.22,1026.0,-4,487.38,487.38,506.60,253.30,339.98,101.99,437.70,87.54,UEFA,2018-04-12,NaN
57182,23,Sweden,SWE,889.48,1002.0,-4,507.67,507.67,414.85,207.43,378.28,113.48,304.52,60.90,UEFA,2018-04-12,NaN
57183,24,USA,USA,879.64,876.0,1,485.97,485.97,433.41,216.70,385.31,115.59,306.89,61.38,CONCACAF,2018-04-12,NaN
57184,25,Costa Rica,CRC,858.02,872.0,1,406.15,406.15,469.42,234.71,304.31,91.29,629.32,125.86,CONCACAF,2018-04-12,NaN
57185,26,Austria,AUT,840.97,826.0,2,446.34,446.34,203.45,101.72,610.71,183.21,548.51,109.70,UEFA,2018-04-12,NaN
57186,27,Northern Ireland,NIR,837.28,879.0,-3,402.97,402.97,387.46,193.73,477.71,143.31,486.34,97.27,UEFA,2018-04-12,NaN
57187,28,Senegal,SEN,825.44,862.0,-1,389.94,389.94,505.25,252.62,267.91,80.37,512.51,102.50,CAF,2018-04-12,NaN
57188,29,Slovakia,SVK,785.86,822.0,0,349.12,349.12,424.71,212.36,325.55,97.66,633.64,126.73,UEFA,2018-04-12,NaN
57189,30,Ukraine,UKR,777.1,778.0,5,417.22,417.22,314.60,157.30,467.03,140.11,312.37,62.47,UEFA,2018-04-12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57341,182,Cuba,CUB,74.88,88.0,0,14.28,14.28,0.00,0.00,116.68,35.00,127.99,25.60,CONCACAF,2018-04-12,NaN
57342,182,Aruba,ARU,74.85,92.0,-2,0.00,0.00,0.00,0.00,161.50,48.45,132.00,26.40,CONCACAF,2018-04-12,NaN
57343,184,Bhutan,BHU,68.0,63.0,4,0.00,0.00,85.00,42.50,0.00,0.00,127.50,25.50,AFC,2018-04-12,NaN
57344,185,Malta,MLT,61.65,68.0,0,24.75,24.75,10.27,5.14,72.64,21.79,49.85,9.97,UEFA,2018-04-12,NaN
57345,186,Macau,MAC,60.11,65.0,0,18.21,18.21,53.13,26.56,8.50,2.55,63.92,12.78,AFC,2018-04-12,NaN
57346,187,São Tomé e Príncipe,STP,58.97,94.0,-8,0.00,0.00,0.00,0.00,196.56,58.97,0.00,0.00,CAF,2018-04-12,NaN
57347,188,Mongolia,MNG,51.0,49.0,1,8.50,8.50,34.00,17.00,0.00,0.00,127.50,25.50,AFC,2018-04-12,NaN
57348,189,Guam,GUM,44.96,43.0,2,0.00,0.00,0.00,0.00,113.42,34.03,54.64,10.93,AFC,2018-04-12,NaN
57349,190,Timor-Leste,TLS,43.94,44.0,0,41.82,41.82,4.25,2.13,0.00,0.00,0.00,0.00,AFC,2018-04-12,NaN
57350,191,American Samoa,ASA,38.25,38.0,3,0.00,0.00,0.00,0.00,127.50,38.25,0.00,0.00,OFC,2018-04-12,NaN
57351,191,Cook Islands,COK,38.25,38.0,3,0.00,0.00,0.00,0.00,127.50,38.25,0.00,0.00,OFC,2018-04-12,NaN
57352,191,Samoa,SAM,38.25,38.0,3,0.00,0.00,0.00,0.00,127.50,38.25,0.00,0.00,OFC,2018-04-12,NaN
57353,194,Brunei Darussalam,BRU,36.12,39.0,-1,0.00,0.00,42.50,21.25,0.00,0.00,74.38,14.88,AFC,2018-04-12,NaN
57354,194,Seychelles,SEY,35.62,43.0,-3,14.21,14.21,0.00,0.00,54.36,16.31,25.50,5.10,CAF,2018-04-12,NaN
57355,196,Gibraltar,GIB,34.16,0.0,10,34.16,34.16,0.00,0.00,0.00,0.00,0.00,0.00,UEFA,2018-04-12,NaN
57356,197,Bangladesh,BAN,33.19,31.0,0,0.00,0.00,21.25,10.63,35.53,10.66,59.50,11.90,AFC,2018-04-12,NaN
57357,198,Djibouti,DJI,26.56,64.0,-11,0.00,0.00,53.13,26.56,0.00,0.00,0.00,0.00,CAF,2018-04-12,NaN
57358,199,US Virgin Islands,VIR,17.6,26.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,87.98,17.60,CONCACAF,2018-04-12,NaN
57359,200,Montserrat,MSR,17.45,20.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,87.25,17.45,CONCACAF,2018-04-12,NaN
57360,200,Sri Lanka,SRI,16.76,16.0,0,0.00,0.00,8.50,4.25,25.50,7.65,24.29,4.86,AFC,2018-04-12,NaN
57361,202,Turks and Caicos Islands,TCA,13.2,13.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,66.00,13.20,CONCACAF,2018-04-12,NaN
57362,203,Pakistan,PAK,10.17,12.0,0,0.00,0.00,0.00,0.00,0.00,0.00,50.83,10.17,AFC,2018-04-12,NaN
57363,204,Cayman Islands,CAY,8.5,13.0,-3,0.00,0.00,0.00,0.00,0.00,0.00,42.50,8.50,CONCACAF,2018-04-12,NaN
57364,205,San Marino,SMR,7.92,11.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,39.60,7.92,UEFA,2018-04-12,NaN
57365,206,British Virgin Islands,VGB,3.54,6.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,17.71,3.54,CONCACAF,2018-04-12,NaN
57366,207,Anguilla,AIA,0.0,0.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONCACAF,2018-04-12,NaN
57367,207,Bahamas,BAH,0.0,0.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CONCACAF,2018-04-12,NaN
57368,207,Eritrea,ERI,0.0,0.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CAF,2018-04-12,NaN
57369,207,Somalia,SOM,0.0,0.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,CAF,2018-04-12,NaN
57370,207,Tonga,TGA,0.0,0.0,-1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,OFC,2018-04-12,NaN

In [5]:
# Create new columns with ranking position of each team
df.insert(2, 'rank_Team1', df['Team1'].map(ranking_2018.set_index('country_full')['rank']))
df.insert(3, 'rank_Team2', df['Team2'].map(ranking_2018.set_index('country_full')['rank']))

df.insert(4, 'rank_change_Team1', df['Team1'].map(ranking_2018.set_index('country_full')['rank_change']))
df.insert(5, 'rank_change_Team2', df['Team2'].map(ranking_2018.set_index('country_full')['rank_change']))

In [6]:
df.head()

,Team1,Team2,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,66.0,70.0,-3.0,-1.0,Group Phase,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,46.0,17.0,-2.0,5.0,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,42.0,36.0,0.0,-3.0,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,4.0,8.0,-1.0,-2.0,Group Phase,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,7.0,40.0,2.0,-3.0,Group Phase,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

# Add Team features

In [7]:
# #AVG Age of each team in each position
age_avg=squads.groupby(["Team","Position"])['Age'].sum()/squads.groupby(["Team","Position"])['Age'].size()
age_avg = age_avg.to_frame()

age_avg['Team_name'] = age_avg.index.get_level_values(0).tolist()
age_avg['pos'] = age_avg.index.get_level_values(1).tolist()

In [8]:
age_avg = age_avg.replace({"Iran":"IR Iran"})
age_avg = age_avg.replace({"Korea Republic":"South Korea"})
age_avg.head()

                          Age  Team_name pos
Team      Position
Argentina DF        29.111111  Argentina  DF
          FW        28.500000  Argentina  FW
          GK        33.000000  Argentina  GK
          MF        26.428571  Argentina  MF
Australia DF        27.428571  Australia  DF

In [9]:
age_DF = age_avg.loc[age_avg['pos'] == 'DF']
age_FW = age_avg.loc[age_avg['pos'] == 'FW']
age_GK = age_avg.loc[age_avg['pos'] == 'GK']
age_MF = age_avg.loc[age_avg['pos'] == 'MF']

In [10]:
df.head()

,Team1,Team2,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,66.0,70.0,-3.0,-1.0,Group Phase,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,46.0,17.0,-2.0,5.0,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,42.0,36.0,0.0,-3.0,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,4.0,8.0,-1.0,-2.0,Group Phase,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,7.0,40.0,2.0,-3.0,Group Phase,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

In [11]:
df.insert(2, 'Team1_avg_age_DF', df['Team1'].map(age_DF.set_index('Team_name')['Age']))
df.insert(3, 'Team1_avg_age_FW', df['Team1'].map(age_FW.set_index('Team_name')['Age']))
df.insert(4, 'Team1_avg_age_GK', df['Team1'].map(age_GK.set_index('Team_name')['Age']))
df.insert(5, 'Team1_avg_age_MF', df['Team1'].map(age_MF.set_index('Team_name')['Age']))

In [12]:
df.insert(6, 'Team2_avg_age_DF', df['Team2'].map(age_DF.set_index('Team_name')['Age']))
df.insert(7, 'Team2_avg_age_FW', df['Team2'].map(age_FW.set_index('Team_name')['Age']))
df.insert(8, 'Team2_avg_age_GK', df['Team2'].map(age_GK.set_index('Team_name')['Age']))
df.insert(9, 'Team2_avg_age_MF', df['Team2'].map(age_MF.set_index('Team_name')['Age']))

In [13]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,Group Phase,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,Group Phase,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,Group Phase,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,Group Phase,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,Group Phase,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

In [14]:
#AVG Caps of each team per position
caps_avg = squads.groupby(["Team","Position"])['Caps'].sum()/squads.groupby(["Team","Position"])['Caps'].size()
caps_avg = caps_avg.to_frame()

caps_avg['Team_name'] = caps_avg.index.get_level_values(0).tolist()
caps_avg['pos'] = caps_avg.index.get_level_values(1).tolist()

In [15]:
caps_avg = caps_avg.replace({"Iran":"IR Iran"})
caps_avg = caps_avg.replace({"Korea Republic":"South Korea"})
caps_avg.head()

                         Caps  Team_name pos
Team      Position
Argentina DF        34.444444  Argentina  DF
          FW        73.000000  Argentina  FW
          GK         3.000000  Argentina  GK
          MF        32.714286  Argentina  MF
Australia DF        22.428571  Australia  DF

In [16]:
caps_DF = caps_avg.loc[age_avg['pos'] == 'DF']
caps_FW = caps_avg.loc[age_avg['pos'] == 'FW']
caps_GK = caps_avg.loc[age_avg['pos'] == 'GK']
caps_MF = caps_avg.loc[age_avg['pos'] == 'MF']

In [17]:
df.insert(10, 'Team1_avg_caps_DF', df['Team1'].map(caps_DF.set_index('Team_name')['Caps']))
df.insert(11, 'Team1_avg_caps_FW', df['Team1'].map(caps_FW.set_index('Team_name')['Caps']))
df.insert(12, 'Team1_avg_caps_GK', df['Team1'].map(caps_GK.set_index('Team_name')['Caps']))
df.insert(13, 'Team1_avg_caps_MF', df['Team1'].map(caps_MF.set_index('Team_name')['Caps']))

df.insert(14, 'Team2_avg_caps_DF', df['Team2'].map(caps_DF.set_index('Team_name')['Caps']))
df.insert(15, 'Team2_avg_caps_FW', df['Team2'].map(caps_FW.set_index('Team_name')['Caps']))
df.insert(16, 'Team2_avg_caps_GK', df['Team2'].map(caps_GK.set_index('Team_name')['Caps']))
df.insert(17, 'Team2_avg_caps_MF', df['Team2'].map(caps_MF.set_index('Team_name')['Caps']))

In [18]:
for c in df.keys():
    print(c)

Team1
Team2
Team1_avg_age_DF
Team1_avg_age_FW
Team1_avg_age_GK
Team1_avg_age_MF
Team2_avg_age_DF
Team2_avg_age_FW
Team2_avg_age_GK
Team2_avg_age_MF
Team1_avg_caps_DF
Team1_avg_caps_FW
Team1_avg_caps_GK
Team1_avg_caps_MF
Team2_avg_caps_DF
Team2_avg_caps_FW
Team2_avg_caps_GK
Team2_avg_caps_MF
rank_Team1
rank_Team2
rank_change_Team1
rank_change_Team2
Rounds
Stadium
City
Time
Day
Month
Year
Score1
Score2
Remarks

# change Rounds

In [19]:
rounds = df.Rounds
rounds.unique()
rounds_dict = {"Group Phase":1, "Round of 16":2, "Quarter Finals":3, "Semi Finals":4, "Play-off for third place":5, "Finals":6}
rounds_encoded = []

for i in range(len(df)):
    rounds_encoded.append(rounds_dict[list(df.Rounds)[i]])
    
df["Rounds"] = rounds_encoded

In [20]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,1,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,1,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,1,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,1,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

# Player Features

In [21]:
fifa18 = fifa18.replace({"Korea Republic":"South Korea"})
wc_player_stats_18 = fifa18[fifa18["name"].isin(squads.Player) | fifa18["full_name"].isin(squads.Player)]
wc_fifa18_stats = fifa18[fifa18.nationality.isin(squads.Team)]

In [22]:
wc_fifa18_stats.replace([False,"False",True,"True"],[0,0,1,1])
unused_var=[]
for i in fifa18.columns:
    if "prefers" in i:
        unused_var.append(i)
wc_fifa18_stats = wc_fifa18_stats.drop(["club_logo","ID","real_face","birth_date","flag","photo"],axis=1)
wc_fifa18_stats = wc_fifa18_stats.drop(unused_var,axis=1)
grouped_wc_fifa18_stats = wc_fifa18_stats.groupby(['nationality']).apply(lambda x: (x.sort_values('overall',ascending=False)).head(30).mean()).sort_values('potential',ascending=True)
grouped_wc_fifa18_stats.head()

,special,age,height_cm,weight_kg,eur_value,eur_wage,eur_release_clause,overall,potential,pac,...,playmaker_speciality,engine_speciality,distance_shooter_speciality,crosser_speciality,free_kick_specialist_speciality,tackling_speciality,tactician_speciality,acrobat_speciality,strength_speciality,clinical_finisher_speciality
nationality,,,,,,,,,,,,,,,,,,,,,
Panama,1617.375000,25.812500,181.750000,76.500000,8.378125e+05,3312.500000,1.344812e+06,65.812500,69.437500,66.062500,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.062500,0.0
Tunisia,1677.966667,27.266667,182.700000,76.666667,2.261167e+06,11700.000000,2.739000e+06,68.966667,71.533333,66.200000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.033333,0.0
Costa Rica,1695.966667,26.433333,181.000000,75.400000,3.196167e+06,18033.333333,5.612536e+06,69.900000,72.000000,73.400000,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.066667,0.0
Iceland,1771.000000,27.233333,184.066667,78.200000,2.607500e+06,16700.000000,4.797357e+06,70.033333,72.166667,67.766667,...,0.0,0.1,0.0,0.033333,0.033333,0.0,0.0,0.000000,0.000000,0.0
Peru,1651.965517,25.517241,178.931034,73.896552,2.122069e+06,6620.689655,5.940867e+06,69.137931,72.689655,69.551724,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.034483,0.000000,0.0

In [23]:
grouped_wc_fifa18_stats['Team_name'] = grouped_wc_fifa18_stats.index.get_level_values(0).tolist()

In [24]:
grouped_wc_fifa18_stats = grouped_wc_fifa18_stats.replace({"Iran":"IR Iran"})
grouped_wc_fifa18_stats.head()

,special,age,height_cm,weight_kg,eur_value,eur_wage,eur_release_clause,overall,potential,pac,...,engine_speciality,distance_shooter_speciality,crosser_speciality,free_kick_specialist_speciality,tackling_speciality,tactician_speciality,acrobat_speciality,strength_speciality,clinical_finisher_speciality,Team_name
nationality,,,,,,,,,,,,,,,,,,,,,
Panama,1617.375000,25.812500,181.750000,76.500000,8.378125e+05,3312.500000,1.344812e+06,65.812500,69.437500,66.062500,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.062500,0.0,Panama
Tunisia,1677.966667,27.266667,182.700000,76.666667,2.261167e+06,11700.000000,2.739000e+06,68.966667,71.533333,66.200000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.033333,0.0,Tunisia
Costa Rica,1695.966667,26.433333,181.000000,75.400000,3.196167e+06,18033.333333,5.612536e+06,69.900000,72.000000,73.400000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.066667,0.0,Costa Rica
Iceland,1771.000000,27.233333,184.066667,78.200000,2.607500e+06,16700.000000,4.797357e+06,70.033333,72.166667,67.766667,...,0.1,0.0,0.033333,0.033333,0.0,0.0,0.000000,0.000000,0.0,Iceland
Peru,1651.965517,25.517241,178.931034,73.896552,2.122069e+06,6620.689655,5.940867e+06,69.137931,72.689655,69.551724,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.034483,0.000000,0.0,Peru

In [25]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,1,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,1,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,1,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,1,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

In [26]:
for key in grouped_wc_fifa18_stats.keys():
    if key != 'Team_name':
        df.insert(12, 'Team2_'+key, df['Team2'].map(grouped_wc_fifa18_stats.set_index('Team_name')[key]))
        df.insert(12, 'Team1_'+key, df['Team1'].map(grouped_wc_fifa18_stats.set_index('Team_name')[key]))

In [27]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Rounds,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks
0,Russia,Saudi Arabia,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,1,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN
1,Egypt,Uruguay,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,1,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN
2,Morocco,IR Iran,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,1,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN
3,Portugal,Spain,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,1,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...
4,France,Australia,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,1,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN

# code country name

In [28]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

In [29]:
#Adding who is the winner 
winner = []
for i in range (len(df['Team1'])):
    if df['Score1'][i] > df['Score2'][i]:
        winner.append(df['Team1'][i])
    elif df['Score1'][i] < df['Score2'][i]:
        winner.append(df['Team2'][i])
    else:
        winner.append(-1)
df['winning_team'] = winner

df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,Stadium,City,Time,Day,Month,Year,Score1,Score2,Remarks,winning_team
0,57,24,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,Luzhniki Stadium,Moscow,18:00,14,6,2018,5,0,NaN,57
1,63,47,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,Ekaterinburg Arena,Ekaterinburg,17:00,15,6,2018,0,1,NaN,47
2,34,29,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,Saint Petersburg Stadium,St. Petersburg,18:00,15,6,2018,0,1,NaN,29
3,17,41,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,Fisht Stadium,Sochi,21:00,15,6,2018,3,3,{WinTeamName} win on aggregate after regular t...,-1
4,58,15,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,Kazan Arena,Kazan,13:00,16,6,2018,2,1,NaN,58

In [30]:

df = df.drop(['Score1','Score2','Remarks',"Stadium","City"],axis=1)
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Time,Day,Month,Year,winning_team
0,57,24,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,66.0,70.0,-3.0,-1.0,1,18:00,14,6,2018,57
1,63,47,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,46.0,17.0,-2.0,5.0,1,17:00,15,6,2018,47
2,34,29,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,42.0,36.0,0.0,-3.0,1,18:00,15,6,2018,29
3,17,41,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,4.0,8.0,-1.0,-2.0,1,21:00,15,6,2018,-1
4,58,15,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,7.0,40.0,2.0,-3.0,1,13:00,16,6,2018,58

In [31]:
df.head()

,Team1,Team2,Team1_avg_age_DF,Team1_avg_age_FW,Team1_avg_age_GK,Team1_avg_age_MF,Team2_avg_age_DF,Team2_avg_age_FW,Team2_avg_age_GK,Team2_avg_age_MF,...,rank_Team1,rank_Team2,rank_change_Team1,rank_change_Team2,Rounds,Time,Day,Month,Year,winning_team
0,57,24,29.857143,28.500000,30.666667,26.545455,28.714286,28.333333,30.333333,27.000000,...,66.0,70.0,-3.0,-1.0,1,18:00,14,6,2018,57
1,63,47,28.750000,25.833333,36.000000,26.833333,27.857143,27.666667,31.666667,25.714286,...,46.0,17.0,-2.0,5.0,1,17:00,15,6,2018,47
2,34,29,27.000000,26.750000,26.000000,26.900000,26.500000,26.428571,26.333333,27.400000,...,42.0,36.0,0.0,-3.0,1,18:00,15,6,2018,29
3,17,41,28.375000,26.600000,31.000000,27.000000,28.500000,28.800000,28.333333,26.714286,...,4.0,8.0,-1.0,-2.0,1,21:00,15,6,2018,-1
4,58,15,24.375000,24.142857,29.666667,27.000000,27.428571,26.625000,31.666667,27.000000,...,7.0,40.0,2.0,-3.0,1,13:00,16,6,2018,58

# Duplicate

In [ ]:
#we should change all respective column for duplicate
# for index,row in df.iterrows():
#     df.set_value(index+488,["Team1","Team2","Rounds","Day","Month","Year","Score1","Score2","winning_team","avg_team1","avg_team2"],[row["Team2"],row["Team1"],row["Rounds"],row["Day"],row["Month"],row["Year"],row["Score2"],row["Score1"],2 if row["winning_team"]==1 else 1 if row["winning_team"]==2 else 0,row['avg_team2'],row['avg_team1']])
# df.shape

# train & test

In [ ]:
X_train = df.loc[df['Rounds'] == 1]
X_test = df.loc[df['Rounds'] != 1]

In [ ]:
y_train = X_train["winning_team"]
y_test = X_test["winning_team"]

In [ ]:
X_train = X_train.drop(["Rounds","winning_team","Time"],axis=1)
X_test = X_test.drop(["Rounds","winning_team","Time"],axis=1)