In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# from keras.models import Sequential
# from keras.layers import Dense

In [2]:
X_train = pd.read_csv("../datasets/complete_data/Train_DB.csv")
X_test = pd.read_csv("../datasets/complete_data/Test_DB.csv")

print(X_test.shape)
print(X_train.shape)

X_train["date"] = pd.to_datetime(X_train["date"] )
X_test["Year_com"] = pd.to_datetime(X_test["Year_com"] )


X_train['Year'] = X_train.date.dt.year
X_train['Month'] = X_train.date.dt.month
X_train['day'] = X_train.date.dt.day



X_test['Year'] = X_test.Year_com.dt.year
X_test['Month'] = X_test.Year_com.dt.month
X_test['day'] = X_test.Year_com.dt.day


X_train= X_train.drop(['date'],axis=1)
X_test = X_test.drop(['Year_com'],axis=1)


# y_train =X_train['Winner_num']
# y_test =X_test['Winner_num']


# X_train= X_train.drop(['Unnamed: 0','home_score','away_score','tournament','winner','city','country','Winner_num'],axis=1)
# X_test = X_test.drop(['Unnamed: 0','Score1','Score2','winner','Winner_num'],axis=1)

(128, 24)
(42208, 27)

/home/milad/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
X_train= X_train[X_train.Winner_num != 0]
X_test = X_test[X_test.Winner_num != 0]

In [3]:

# y_train =X_train['Winner_num']
# y_test =X_test['Winner_num']


X_train= X_train.drop(['Unnamed: 0','home_score','away_score','tournament','winner','city','country'],axis=1)
X_test = X_test.drop(['Unnamed: 0','Score1','Score2','winner'],axis=1)

In [4]:
X_train.head()

,home_team,away_team,RK1,RC1,TP1,Cur_weighted1,last_weighted1,RK2,RC2,TP2,...,NW1,NF1,ND1,NW2,NF2,ND2,Winner_num,Year,Month,day
0,Guinea,Sierra Leone,65.0,-2.0,0.0,0.0,0.0,86.0,-7.0,0.0,...,0,0,0,0,0,0,1,1993,8,9
1,Faroe Islands,Norway,111.0,-17.0,0.0,0.0,0.0,9.0,5.0,0.0,...,0,0,0,0,0,0,2,1993,8,11
2,Sweden,Switzerland,4.0,0.0,0.0,0.0,0.0,3.0,9.0,0.0,...,0,0,0,0,0,0,2,1993,8,11
3,Australia,Canada,52.0,-7.0,0.0,0.0,0.0,46.0,11.0,0.0,...,0,0,0,0,0,0,1,1993,8,15
4,Bolivia,Ecuador,59.0,28.0,0.0,0.0,0.0,35.0,30.0,0.0,...,0,0,0,0,0,0,1,1993,8,15

In [8]:
print(X_train.shape)
print(X_test.shape)

(2490, 22)
(38, 22)

In [ ]:
X_train.iloc[42207]

In [6]:
cols =X_test.columns
X_train.columns = cols
X_train.head()

,Team1,Team2,RK1,RC1,TP1,Cur_weighted1,last_weighted1,RK2,RC2,TP2,...,NW1,NF1,ND1,NW2,NF2,ND2,Winner_num,Year,Month,day
0,Guinea,Sierra Leone,65.0,-2.0,0.0,0.0,0.0,86.0,-7.0,0.0,...,0,0,0,0,0,0,1,1993,8,9
1,Faroe Islands,Norway,111.0,-17.0,0.0,0.0,0.0,9.0,5.0,0.0,...,0,0,0,0,0,0,2,1993,8,11
2,Sweden,Switzerland,4.0,0.0,0.0,0.0,0.0,3.0,9.0,0.0,...,0,0,0,0,0,0,2,1993,8,11
3,Australia,Canada,52.0,-7.0,0.0,0.0,0.0,46.0,11.0,0.0,...,0,0,0,0,0,0,1,1993,8,15
4,Bolivia,Ecuador,59.0,28.0,0.0,0.0,0.0,35.0,30.0,0.0,...,0,0,0,0,0,0,1,1993,8,15

In [9]:
df = X_train.append(X_test)
df.head()

,Team1,Team2,RK1,RC1,TP1,Cur_weighted1,last_weighted1,RK2,RC2,TP2,...,NW1,NF1,ND1,NW2,NF2,ND2,Winner_num,Year,Month,day
8,Uruguay,Brazil,22.0,-6.0,0.0,0.0,0.0,8.0,-5.0,0.0,...,0,0,0,0,0,0,0,1993,8,15
11,Brazil,Ecuador,8.0,-5.0,0.0,0.0,0.0,35.0,30.0,0.0,...,0,0,2,0,2,0,1,1993,8,22
17,Brazil,Bolivia,8.0,-5.0,0.0,0.0,0.0,59.0,28.0,0.0,...,2,0,2,4,0,0,1,1993,8,29
22,Brazil,Venezuela,8.0,-5.0,0.0,0.0,0.0,94.0,31.0,0.0,...,4,0,2,0,4,0,1,1993,9,5
29,England,Poland,11.0,-6.0,0.0,0.0,0.0,20.0,0.0,0.0,...,0,0,0,0,0,0,1,1993,9,8

In [7]:
X_train = X_train[(X_train.Team1 =='England')|(X_train.Team1 =='Germany')|(X_train.Team1 =='Brazil')|(X_train.Team1 =='Spain')|(X_train.Team2 =='England')|(X_train.Team2 =='Germany')|(X_train.Team2 =='Brazil')|(X_train.Team2 =='Spain')]
X_test = X_test[(X_test.Team1 =='England')|(X_test.Team1 =='Germany')|(X_test.Team1 =='Brazil')|(X_test.Team1 =='Spain')|(X_test.Team2 =='England')|(X_test.Team2 =='Germany')|(X_test.Team2 =='Brazil')|(X_test.Team2 =='Spain')]

In [10]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

In [ ]:
df.head()

In [ ]:
X_train = df [:42208]
X_test = df [42208:]

In [11]:
X_train = df [:2490]
X_test = df [2490:]


y_train =X_train['Winner_num']
y_test =X_test['Winner_num']

In [12]:
X_train= X_train.drop(['Winner_num'],axis=1)
X_test = X_test.drop(['Winner_num'],axis=1)

In [13]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

In [14]:
X_train

array([[-0.18096927, -0.0624907 , -0.03117039, ..., -1.78358444,
         0.37551426,  0.02545719],
       [-0.0624907 , -1.91865487, -0.45022163, ..., -1.78358444,
         0.37551426,  0.85329078],
       [-0.0624907 ,  0.09548072, -0.45022163, ..., -1.78358444,
         0.37551426,  1.68112436],
       ...,
       [ 1.71468776,  1.20128065, -0.56995055, ...,  1.83084786,
        -1.43937414,  1.44460048],
       [-0.0624907 ,  0.17446643, -0.62981501, ...,  1.83084786,
        -1.43937414,  1.44460048],
       [-0.97082636, -0.93133351, -0.27062824, ...,  1.83084786,
        -1.43937414,  1.44460048]])

In [15]:
from sklearn import svm
model_svm = svm.SVC()
model_svm.fit(X_train,y_train)

y_pred_svm = model_svm.predict(X_test)


accuracy_score(y_test, y_pred_svm)

0.57894736842105265

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test) 


from sklearn import svm
model_svm = svm.SVC(probability = True)
model_svm.fit(X_train,y_train)

y_pred = model_svm.predict(X_test)


accuracy_score(y_test, y_pred)

In [ ]:
# RANDOM SEARCH FOR 20 COMBINATIONS OF PARAMETERS
rand_list = {"C": stats.uniform(2, 10),
             "gamma": stats.uniform(0.1, 1)}
              
rand_search = RandomizedSearchCV(model_svm, param_distributions = rand_list, n_iter = 5, n_jobs = 4, cv = 3, random_state = 2017, scoring = auc) 
rand_search.fit(X_train,y_train) 
rand_search.cv_results

In [ ]:
all_y.shape

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from itertools import cycle

from sklearn import svm, datasets
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from scipy import interp


all_y=y_train.append(y_test)
y = label_binarize(all_y, classes=[1, 2])
y_train1 = y[:42208,:]
y_test1 = y[42208:,:]
# print(y_train1.shape)
random_state = np.random.RandomState(0)
# classifier = svm.SVC(probability = True)



classifier = OneVsRestClassifier(svm.SVC(kernel='linear', probability=True,random_state=random_state))
classifier.fit(X_train, y_train1)
y_pred1 = classifier.predict(X_test)
n_classes = 2
# Compute ROC curve and ROC area for each class
fpr = dict()
tpr = dict()
roc_auc = dict()
for i in range(n_classes):
    fpr[i], tpr[i], _ = roc_curve(y_test1[:, i], y_pred1[:, i])
    roc_auc[i] = auc(fpr[i], tpr[i])

# Compute micro-average ROC curve and ROC area
fpr["micro"], tpr["micro"], _ = roc_curve(y_test1.ravel(), y_pred1.ravel())
roc_auc["micro"] = auc(fpr["micro"], tpr["micro"])
# Compute macro-average ROC curve and ROC area

# First aggregate all false positive rates
all_fpr = np.unique(np.concatenate([fpr[i] for i in range(n_classes)]))

# Then interpolate all ROC curves at this points
mean_tpr = np.zeros_like(all_fpr)
for i in range(n_classes):
    mean_tpr += interp(all_fpr, fpr[i], tpr[i])

# Finally average it and compute AUC
mean_tpr /= n_classes

fpr["macro"] = all_fpr
tpr["macro"] = mean_tpr
roc_auc["macro"] = auc(fpr["macro"], tpr["macro"])

# Plot all ROC curves
plt.figure()
plt.plot(fpr["micro"], tpr["micro"],
         label='micro-average ROC curve (area = {0:0.2f})'
               ''.format(roc_auc["micro"]),
         color='deeppink', linestyle=':', linewidth=4)

In [ ]:
lw=2
colors = cycle(['aqua', 'darkorange', 'cornflowerblue'])
for i, color in zip(range(n_classes), colors):
    plt.plot(fpr[i], tpr[i], color=color, lw=lw,
             label='ROC curve of class {0} (area = {1:0.2f})'
             ''.format(i, roc_auc[i]))

plt.plot([0, 1], [0, 1], 'k--', lw=lw)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Some extension of Receiver operating characteristic to multi-class')
plt.legend(loc="lower right")
plt.show()

In [ ]:
import itertools
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting normalize=True.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.tight_layout()


class_names=y_test
class_names=np.unique(class_names) 
    
# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, y_pred_svm)
np.set_printoptions(precision=2)
# Plot normalized confusion matrix
plt.figure(figsize=(10,10))
plot_confusion_matrix(cnf_matrix, classes=class_names, normalize=True,
                      title='Normalized confusion matrix')

plt.show()