# Import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [9]:
df = pd.read_csv("../datasets/final_data/FIFA Data 1990-2018.csv")
df_teams = pd.read_csv("../datasets/final_data/world_cup_comparisons.csv")
fifa_ranking = pd.read_csv("../datasets/final_data/fifa_ranking.csv")
continent = pd.read_csv("../datasets/final_data/countries and continents1.csv")





df=df.replace({"South Korea":"Korea Republic"})
df = df.replace({"Iran":"IR Iran"})
df = df.replace({"Soviet Union":"Russia"})
df = df.replace({"Czechoslovakia":"Czech Republic"})


df_teams=df_teams.replace({"South Korea":"Korea Republic"})
df_teams = df_teams.replace({"Iran":"IR Iran"})

fifa_ranking=fifa_ranking.replace({"South Korea":"Korea Republic"})
fifa_ranking = fifa_ranking.replace({"Iran":"IR Iran"})

In [10]:
df.head()

,Team1,Team2,Rounds,Year,Score1,Score2,Ranking T1,Score T1,Ranking T2,Score T2,Winner
0,Russia,Saudi Arabia,Group Phase,2018,5,0,70.0,457.0,67.0,465.0,1
1,Egypt,Uruguay,Group Phase,2018,0,1,45.0,649.0,14.0,1018.0,2
2,Morocco,IR Iran,Group Phase,2018,0,1,41.0,686.0,37.0,708.0,2
3,Portugal,Spain,Group Phase,2018,3,3,4.0,1274.0,10.0,1126.0,0
4,France,Australia,Group Phase,2018,2,1,7.0,1198.0,36.0,718.0,1

# Add lenth of name for each country

In [11]:
# len_Team1 =[]
# len_Team2 =[]

# for i in range (len(df['Team1'])):
#     len_Team1.append(len(df['Team1'][i]))
#     len_Team2.append(len(df['Team2'][i]))
    
# df['len_Team1'] =len_Team1
# df['len_Team2'] = len_Team2

# df.head()

In [12]:
# #Asia=0 Europe=2 Africa =3 america =4
# continent1={
# 'Russia':'Europe', 'Germany':'Europe','Brazil':'South America','Portugal':'Europe','Argentina':'South America','Belgium':'Europe','Poland':'Europe','France':'Europe',
# 'Spain':'Europe','Peru':'South America','Switzerland':'Europe','England':'Europe','Colombia':'South America','Mexico':'North America','Uruguay':'South America','Croatia':'Europe',
# 'Denmark':'Europe','Iceland':'Europe','Costa Rica':'North America','Sweden':'Europe','Tunisia':'Africa','Egypt':'Asia','Senegal':'Africa','IR Iran':'Asia',
# 'Serbia':'Europe','Nigeria':'Africa','Australia':'Australia','Japan':'Asia','Morocco':'Africa','Panama':'North America','Korea Republic':'Asia','Saudi Arabia':'Asia',
# 'Mexico':'North America','Chile':'South America','CÃ´te dIvoire':'Africa'
#           }

In [13]:
df.isnull().sum()

Team1         0
Team2         0
Rounds        0
Year          0
Score1        0
Score2        0
Ranking T1    0
Score T1      0
Ranking T2    0
Score T2      0
Winner        0
dtype: int64

In [14]:
continent = continent.dropna(axis=0, subset=['official_name_en','Continent'])

In [15]:
continent.head()

             name official_name_en Continent
0     Afghanistan      Afghanistan        AS
1         Albania          Albania        EU
2         Algeria          Algeria        AF
3  American Samoa   American Samoa        OC
4         Andorra          Andorra        EU

In [16]:
df.loc[df.Year >= 1990,'continent_Team1'] = df['Team1'].map(continent.set_index('name').lstrip()['Continent'])

In [17]:
df.isnull().sum()

Team1               0
Team2               0
Rounds              0
Year                0
Score1              0
Score2              0
Ranking T1          0
Score T1            0
Ranking T2          0
Score T2            0
Winner              0
continent_Team1    93
dtype: int64

In [18]:
df[df.continent_Team1.isnull()]

,Team1,Team2,Rounds,Year,Score1,Score2,Ranking T1,Score T1,Ranking T2,Score T2,Winner,continent_Team1
8,Costa Rica,Serbia,Group Phase,2018,0,1,23.0,884.0,34.0,751.0,2,NaN
19,IR Iran,Spain,Group Phase,2018,0,1,37.0,708.0,10.0,1126.0,2,NaN
27,Korea Republic,Mexico,Group Phase,2018,1,2,57.0,544.0,15.0,989.0,2,NaN
29,England,Panama,Group Phase,2018,6,1,12.0,1051.0,55.0,571.0,1,NaN
35,IR Iran,Portugal,Group Phase,2018,1,1,37.0,708.0,4.0,1274.0,0,NaN
40,Korea Republic,Germany,Group Phase,2018,2,0,57.0,544.0,1.0,1558.0,1,NaN
41,Mexico,Sweden,Group Phase,2018,0,3,15.0,989.0,24.0,880.0,2,NaN
46,Panama,Tunisia,Group Phase,2018,1,2,55.0,571.0,21.0,910.0,2,NaN
47,England,Belgium,Group Phase,2018,0,1,12.0,1051.0,3.0,1298.0,2,NaN
65,Mexico,Cameroon,Group Phase,2014,1,0,20.0,882.0,56.0,558.0,1,NaN
70,England,Italy,Group Phase,2014,1,2,10.0,1090.0,9.0,1104.0,2,NaN
71,CÃ´te dIvoire,Japan,Group Phase,2014,2,1,23.0,809.0,46.0,626.0,1,NaN
76,IR Iran,Nigeria,Group Phase,2014,0,0,43.0,641.0,44.0,640.0,0,NaN
89,Honduras,Ecuador,Group Phase,2014,1,2,33.0,731.0,26.0,791.0,2,NaN
94,Korea Republic,Algeria,Group Phase,2014,2,4,57.0,547.0,22.0,858.0,2,NaN
95,USA,Portugal,Group Phase,2014,2,2,13.0,1035.0,4.0,1189.0,0,NaN
101,Costa Rica,England,Group Phase,2014,0,0,28.0,762.0,10.0,1090.0,0,NaN
105,Bosnia and Herzegovina,IR Iran,Group Phase,2014,3,1,21.0,873.0,43.0,641.0,1,NaN
106,Honduras,Switzerland,Group Phase,2014,0,3,33.0,731.0,6.0,1149.0,2,NaN
108,USA,Germany,Group Phase,2014,0,1,13.0,1035.0,2.0,1300.0,2,NaN
110,Korea Republic,Belgium,Group Phase,2014,0,1,57.0,547.0,11.0,1074.0,2,NaN
125,Costa Rica,Greece,Round of 16,2014,1,1,28.0,762.0,12.0,1064.0,0,NaN
130,Korea Republic,Greece,Group Phase,2010,2,0,47.0,632.0,13.0,964.0,1,NaN
132,England,USA,Group Phase,2010,1,1,8.0,1068.0,14.0,957.0,0,NaN
140,CÃ´te dIvoire,Portugal,Group Phase,2010,0,0,27.0,856.0,3.0,1249.0,0,NaN
142,Honduras,Chile,Group Phase,2010,0,1,38.0,734.0,18.0,888.0,2,NaN
150,England,Algeria,Group Phase,2010,0,0,8.0,1068.0,30.0,821.0,0,NaN
160,Mexico,Uruguay,Group Phase,2010,0,1,17.0,895.0,16.0,899.0,2,NaN
165,USA,Algeria,Group Phase,2010,1,0,14.0,957.0,30.0,821.0,1,NaN
173,Korea DPR,CÃ´te dIvoire,Group Phase,2010,0,3,105.0,285.0,27.0,856.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
349,USA,IR Iran,Group Phase,1998,1,2,11.0,58.0,42.0,47.0,2,NaN
354,Scotland,Morocco,Group Phase,1998,0,3,41.0,48.0,13.0,57.0,2,NaN
363,USA,Yugoslavia,Group Phase,1998,0,1,11.0,58.0,8.0,59.0,2,NaN
386,USA,Switzerland,Group Phase,1994,1,1,23.0,46.0,12.0,53.0,0,NaN
398,USA,Colombia,Group Phase,1994,2,1,23.0,46.0,17.0,51.0,1,NaN
400,Korea Republic,Bolivia,Group Phase,1994,0,0,37.0,37.0,43.0,35.0,0,NaN
401,Mexico,Republic of Ireland,Group Phase,1994,2,1,16.0,51.0,14.0,52.0,1,NaN
408,USA,Romania,Group Phase,1994,0,1,23.0,46.0,7.0,55.0,2,NaN
412,Republic of Ireland,Norway,Group Phase,1994,0,0,14.0,52.0,6.0,55.0,0,NaN
427,Mexico,Bulgaria,Round of 16,1994,1,1,16.0,51.0,29.0,43.0,0,NaN
440,USA,Czech Republic,Group Phase,1990,1,5,0.0,0.0,0.0,0.0,2,NaN
442,Germany FR,Yugoslavia,Group Phase,1990,4,1,0.0,0.0,0.0,0.0,1,NaN
443,Costa Rica,Scotland,Group Phase,1990,1,0,0.0,0.0,0.0,0.0,1,NaN
450,Yugoslavia,Colombia,Group Phase,1990,1,0,0.0,0.0,0.0,0.0,1,NaN
452,Korea Republic,Bolivia,Group Phase,1990,0,1,0.0,0.0,0.0,0.0,2,NaN
453,Mexico,Republic of Ireland,Group Phase,1990,5,1,0.0,0.0,0.0,0.0,1,NaN
456,England,Netherlands,Group Phase,1990,0,0,0.0,0.0,0.0,0.0,0,NaN
458,Korea Republic,Spain,Group Phase,1990,1,3,0.0,0.0,0.0,0.0,2,NaN
463,Yugoslavia,United Arab Emirates,Group Phase,1990,4,1,0.0,0.0,0.0,0.0,1,NaN
464,Republic of Ireland,Norway,Group Phase,1990,2,0,0.0,0.0,0.0,0.0,1,NaN
468,Korea Republic,Uruguay,Group Phase,1990,0,1,0.0,0.0,0.0,0.0,2,NaN
470,Republic of Ireland,Netherlands,Group Phase,1990,1,1,0.0,0.0,0.0,0.0,0,NaN
471,England,Egypt,Group Phase,1990,1,0,0.0,0.0,0.0,0.0,1,NaN
475,Germany FR,Netherlands,Round of 16,1990,2,1,0.0,0.0,0.0,0.0,1,NaN
479,England,Belgium,Round of 16,1990,1,0,0.0,0.0,0.0,0.0,1,NaN
480,Yugoslavia,Argentina,Quarter Finals,1990,0,0,0.0,0.0,0.0,0.0,0,NaN
482,Germany FR,Czech Republic,Quarter Finals,1990,1,0,0.0,0.0,0.0,0.0,1,NaN
483,England,Cameroon,Quarter Finals,1990,3,2,0.0,0.0,0.0,0.0,1,NaN
485,Germany FR,Czech Republic,Semi Finals,1990,1,1,0.0,0.0,0.0,0.0,0,NaN
487,Germany FR,Argentina,Finals,1990,1,0,0.0,0.0,0.0,0.0,1,NaN

In [ ]:
continent[continent['name'] == 'Spain']

In [ ]:
temp_list = str(continent['name'])

In [ ]:
'Brazil'in temp_list

In [ ]:
temp_list

# Add Continent

In [ ]:
for i in range (len(df['Team1'])):
    if df['Year'][i] == 2014:
        
        if (df['Team1'][i]).lstrip() in temp_list.unique():
            a=1
        else:
            print(df['Team1'][i])
            
            
        if (df['Team2'][i]).lstrip() in temp_list.unique():
            a=1
        else:
            print(df['Team2'][i])