In [19]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
df = pd.read_csv("./v1.csv")
continent = pd.read_csv("../datasets/final_data/countries and continents1.csv",encoding ='utf-8',na_filter = False)
df = df.drop(['Unnamed: 0'], axis= 1)
df.head()

,Team1,Team2,Rounds,Year_com,Day,Month,Year,Score1,Score2,Ranking T1,...,clearances_z_y,blocks_z_y,aerials_z_y,fouls_z_y,fouled_z_y,nsxg_z_y,winner,Winner,team1_winning,team2_winning
0,Russia,Saudi Arabia,Group Phase,2018-6-14,14.0,6.0,2018.0,5.0,0.0,70.0,...,-0.246316,0.209474,-0.466316,-0.387368,0.051579,-0.294211,Russia,1,0,0
1,Egypt,Uruguay,Group Phase,2018-6-15,15.0,6.0,2018.0,0.0,1.0,45.0,...,0.015000,-0.056250,-0.066875,-0.130000,0.116250,0.041875,Uruguay,2,0,0
2,Morocco,IR Iran,Group Phase,2018-6-15,15.0,6.0,2018.0,0.0,1.0,41.0,...,0.289375,-0.327500,-0.082500,0.200000,0.236250,-0.388125,IR Iran,2,0,0
3,Portugal,Spain,Group Phase,2018-6-15,15.0,6.0,2018.0,3.0,3.0,4.0,...,-0.374706,-0.008824,-0.140000,-0.400000,0.145882,0.644706,-1,0,0,0
4,France,Australia,Group Phase,2018-6-16,16.0,6.0,2018.0,2.0,1.0,7.0,...,0.221333,-0.341333,0.240667,0.096000,-0.071333,0.004000,France,1,0,0

In [21]:
continent = continent.drop_duplicates()
df['Team1'] = df['Team1'].str.strip()
df['Team2'] = df['Team2'].str.strip()

continent['name'] = continent['name'].str.strip()
continent['Continent'] = continent['Continent'].str.strip()

df.loc[df.Year >= 1990,'continent_Team1'] = df['Team1'].map(continent.set_index('name')['Continent'])
df.loc[df.Year >= 1990,'continent_Team2'] = df['Team2'].map(continent.set_index('name')['Continent'])

In [22]:
len_Team1 =[]
len_Team2 =[]

for i in range (len(df['Team1'])):
    len_Team1.append(len(df['Team1'][i]))
    len_Team2.append(len(df['Team2'][i]))
    
df['len_Team1'] =len_Team1
df['len_Team2'] = len_Team2

df.head()

,Team1,Team2,Rounds,Year_com,Day,Month,Year,Score1,Score2,Ranking T1,...,fouled_z_y,nsxg_z_y,winner,Winner,team1_winning,team2_winning,continent_Team1,continent_Team2,len_Team1,len_Team2
0,Russia,Saudi Arabia,Group Phase,2018-6-14,14.0,6.0,2018.0,5.0,0.0,70.0,...,0.051579,-0.294211,Russia,1,0,0,EU,AS,6,12
1,Egypt,Uruguay,Group Phase,2018-6-15,15.0,6.0,2018.0,0.0,1.0,45.0,...,0.116250,0.041875,Uruguay,2,0,0,AF,SA,5,7
2,Morocco,IR Iran,Group Phase,2018-6-15,15.0,6.0,2018.0,0.0,1.0,41.0,...,0.236250,-0.388125,IR Iran,2,0,0,AF,AS,7,7
3,Portugal,Spain,Group Phase,2018-6-15,15.0,6.0,2018.0,3.0,3.0,4.0,...,0.145882,0.644706,-1,0,0,0,EU,EU,8,5
4,France,Australia,Group Phase,2018-6-16,16.0,6.0,2018.0,2.0,1.0,7.0,...,-0.071333,0.004000,France,1,0,0,EU,OC,6,9

In [23]:
countries = list(set(df["Team1"]).union(set(df["Team2"])))
countries_dict = {}
for i in range(len(countries)):
    countries_dict[countries[i]] = i
    
Team1_encoded = []
Team2_encoded = []

for i in range(len(df)):
    Team1_encoded.append(countries_dict[list(df.Team1)[i]])
    Team2_encoded.append(countries_dict[list(df.Team2)[i]])
    
df["Team1"] = Team1_encoded
df["Team2"] = Team2_encoded

##############################################
rounds = df.Rounds
rounds.unique()
rounds_dict = {"Group Phase":1, "Round of 16":2, "Quarter Finals":3, "Semi Finals":4, "Play-off for third place":5, "Finals":6}
rounds_encoded = []

for i in range(len(df)):
    rounds_encoded.append(rounds_dict[list(df.Rounds)[i]])
    
df["Rounds"] = rounds_encoded

In [24]:
# AF = Africa
# AS = Asia
# EU = Europe
# NA = North America
# SA = South America
# OC = Oceania
# AN = Antarctica

continent_dict = {"AF":1, "AS":2, "EU":3, "OC":4, "NA":5, "SA":6, "AN":7}
continent_encoded_team1 = []
continent_encoded_team2 = []


for i in range(len(df.continent_Team1)):
    continent_encoded_team1.append(continent_dict[list(df.continent_Team1)[i]])
    continent_encoded_team2.append(continent_dict[list(df.continent_Team2)[i]])
    
df["continent_en_team1"] = continent_encoded_team1
df["continent_en_team2"] = continent_encoded_team2
df.head()

,Team1,Team2,Rounds,Year_com,Day,Month,Year,Score1,Score2,Ranking T1,...,winner,Winner,team1_winning,team2_winning,continent_Team1,continent_Team2,len_Team1,len_Team2,continent_en_team1,continent_en_team2
0,34,22,1,2018-6-14,14.0,6.0,2018.0,5.0,0.0,70.0,...,Russia,1,0,0,EU,AS,6,12,3,2
1,39,6,1,2018-6-15,15.0,6.0,2018.0,0.0,1.0,45.0,...,Uruguay,2,0,0,AF,SA,5,7,1,6
2,1,16,1,2018-6-15,15.0,6.0,2018.0,0.0,1.0,41.0,...,IR Iran,2,0,0,AF,AS,7,7,1,2
3,47,5,1,2018-6-15,15.0,6.0,2018.0,3.0,3.0,4.0,...,-1,0,0,0,EU,EU,8,5,3,3
4,51,58,1,2018-6-16,16.0,6.0,2018.0,2.0,1.0,7.0,...,France,1,0,0,EU,OC,6,9,3,4

In [25]:
df.isnull().sum()

Team1                 0
Team2                 0
Rounds                0
Year_com              0
Day                   0
Month                 0
Year                  0
Score1                0
Score2                0
Ranking T1            0
Score T1              0
Ranking T2            0
Score T2              0
goals_z_x             0
team_x                0
xg_z_x                0
crosses_z_x           0
boxtouches_z_x        0
passes_z_x            0
progpasses_z_x        0
takeons_z_x           0
progruns_z_x          0
tackles_z_x           0
interceptions_z_x     0
clearances_z_x        0
blocks_z_x            0
aerials_z_x           0
fouls_z_x             0
fouled_z_x            0
nsxg_z_x              0
goals_z_y             0
team_y                0
xg_z_y                0
crosses_z_y           0
boxtouches_z_y        0
passes_z_y            0
progpasses_z_y        0
takeons_z_y           0
progruns_z_y          0
tackles_z_y           0
interceptions_z_y     0
clearances_z_y        0
blocks_z_y            0
aerials_z_y           0
fouls_z_y             0
fouled_z_y            0
nsxg_z_y              0
winner                0
Winner                0
team1_winning         0
team2_winning         0
continent_Team1       0
continent_Team2       0
len_Team1             0
len_Team2             0
continent_en_team1    0
continent_en_team2    0
dtype: int64

In [ ]:
df = df.drop(['Score1','Score2','Team1','Team2','team_x','team_y','Rounds','Year_com','Day','Month','continent_Team1','continent_Team2','winner'],axis=1)
df.head()

In [26]:
# df = df.drop(['Score1','Score2','team_x','team_y','Rounds','Year_com','Day','Month','continent_Team1','continent_Team2','winner'],axis=1)
# df.head()

,Team1,Team2,Year,Ranking T1,Score T1,Ranking T2,Score T2,goals_z_x,xg_z_x,crosses_z_x,...,fouls_z_y,fouled_z_y,nsxg_z_y,Winner,team1_winning,team2_winning,len_Team1,len_Team2,continent_en_team1,continent_en_team2
0,34,22,2018.0,70.0,457.0,67.0,465.0,0.315000,-0.104375,-0.033125,...,-0.387368,0.051579,-0.294211,1,0,0,6,12,3,2
1,39,6,2018.0,45.0,649.0,14.0,1018.0,-0.148750,-0.148750,-0.070000,...,-0.130000,0.116250,0.041875,2,0,0,5,7,1,6
2,1,16,2018.0,41.0,686.0,37.0,708.0,-0.264375,-0.143125,0.168750,...,0.200000,0.236250,-0.388125,2,0,0,7,7,1,2
3,47,5,2018.0,4.0,1274.0,10.0,1126.0,0.110000,-0.058235,0.175294,...,-0.400000,0.145882,0.644706,0,0,0,8,5,3,3
4,51,58,2018.0,7.0,1198.0,36.0,718.0,0.037000,-0.067000,-0.211500,...,0.096000,-0.071333,0.004000,1,0,0,6,9,3,4

In [32]:
X_train = df.loc[(df['Year']!= 2018)]
X_test  = df.loc[(df['Year'] == 2018)]

y_train =  X_train["Winner"]
y_test  =  X_test["Winner"]

X_train = X_train.drop(['Winner'],axis=1)
X_test = X_test.drop(['Winner'],axis=1)

In [33]:
X_train = X_train.drop(['Ranking T1','Ranking T2'],axis=1)
X_test = X_test.drop(['Ranking T1','Ranking T2'],axis=1)

In [34]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test) 

from sklearn import svm
model_svm = svm.SVC()
model_svm.fit(X_train,y_train)

y_pred_svm = model_svm.predict(X_test)
accuracy_score(y_test, y_pred_svm)

0.609375

In [17]:
def football_predictor(team1,team2,countries_dict):
    team1_code =countries_dict[team1]
    team2_code =countries_dict[team2]
    
    print(team1_code,team2_code)

In [18]:
football_predictor('IR Iran','Spain',countries_dict)

16 5